
@{
    ViewBag.Title = "Login";
}

<h2>Click A Username to Log In</h2>
<a onclick="bookStore.login('User')">User</a>
<a onclick="bookStore.login('User2')">User2</a>
<a onclick="bookStore.login('User3')">User3</a>
<a onclick="bookStore.login('User4')">User4</a>




