<div class="jumbotron">
    <h1>Book Store</h1>
    <p class="lead">Book Store is an up and coming book store that is aiming to put Amazon out of business.</p>
</div>
<div class="row">
    <div class="col-md-offset-2 col-md-3 well-sm">
        <input type="text" placeholder="Search by title or author" id="search" />
        <button class="btn btn-primary" onclick="bookStore.search(document.getElementById('search').value, document.getElementById('sort').value)">Search</button>
    </div>
    <div class="col-md-3 well-sm">
        Title Sort: 
        <select id="sort" onchange="bookStore.search(document.getElementById('search').value, document.getElementById('sort').value)">
            <option value="asc">A->Z</option>
            <option value="desc">Z->A</option>
        </select>
    </div>
</div>
<div class="row">
    <div id="book-list" class="col-md-offset-2 col-md-8">
        
    </div>
    
</div>
<script type="text/javascript">
    window.onload = function() {
        bookStore.getBooks();
    }
</script>